
.notifier {
    padding-bottom: 50px;

    a {
        text-decoration: none;
        color: #03A9F4;
    }

    .heading {
        border: 1px solid pink;
        padding: 20px 0;
        background: pink;
    }

    .row {
        display: flex;
        padding: 20px 0 0 0;

        .label {
            text-align: right;
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        > div {
            text-align: left;
            flex: 1;

            select {
                width: 200px;
            }

            label {
                padding-left: 3px;
            }
        }

        > * {
            padding: 10px;

            .ant-select {
                width: 170px;
            }
        }
    }

    .refresh {
        cursor: pointer;
        text-decoration: underline;
        padding-top: 20px;

        img {
            width: 20px;
            margin-left: 3px;
            cursor: pointer;
        }
    }

    .confirmation {
        padding-top: 30px;
        font-size: 30px;
    }


    @media only screen and (max-width: 600px) {

        .row {
            padding: 10px 0 0 0;
        }

        .ant-select {
            width: 130px !important;
        }
    }
}